
  .form {
    width: 320
  }
  .title{
    margin-top: 15px;
    color: rgb(79, 121, 189);
    text-shadow:3px 3px 10px red,-3px -3px 10px yellow;
  }
  
  .label{
      display: flex;
    flex-direction: column;
    margin-bottom: 15;
    font-size: 20px;
    font-weight: bold;
    color: rgb(67, 140, 236);
}
.label:hover{
  text-shadow:3px 3px 10px red,-3px -3px 10px yellow;
}
.input{
  width: 250px;
  height: 26px;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
}
.input:focus-within {
  border: 3px solid rgb(67, 140, 236);
}
    


