.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  padding: 20px;
  border: 5px solid #558cdd;
  border-radius: 20px;
  margin: 40px auto;
}

.label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.input {
  display: block;
  width: 170px;
  height: 30px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.input:focus{
  border: 3px solid #558cdd;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  outline: none;
}
.button {
  height: 40px;
  margin-top: 1px;
  background: linear-gradient(
90deg,#a188fc 0,#2eeade 50%,#a188fc);
  background-size: 200%;
  background-position: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 0 20px #299;
  text-shadow: 0 0 5px #000;
  transition: all .7s;
  border: 1px solid #777f8b;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: rgb(149, 219, 240);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
.btnText {
  font-size: 20px;
  color: rgb(43, 49, 88);
}
