
  .link {
    display: inline-block;
    text-decoration: none;
    padding: 15;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #131414;
  }
  .activeLink {
      composes: link;
    color: #E84A5F;
    text-shadow:3px 3px 10px red,-3px -3px 10px yellow;
  }
