.title {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    text-shadow:3px 3px 10px red,-3px -3px 10px yellow;
    color: rgb(57, 91, 202);
  }
  .text{
    display: block;
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
  }
  