
  .container {
    display: flex;
    align-items: center;
  }
  .avatar {
    margin-right: 4,
  }
  .name {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(223, 191, 13);
    text-shadow: 3px 3px 10px red, -3px -3px 10px yellow;

  }
  .button{
    width: 55px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    color: rgb(22, 35, 78);
    background-color: rgb(130, 213, 238);
    border-radius: 7px;
  }
  .button:hover {
    text-shadow: 3px 3px 10px red, -3px -3px 10px yellow;
    box-shadow: 3px 3px 10px red, -3px -3px 10px yellow;

  }
  img{
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(255, 217, 0);
    box-shadow: 3px 3px 10px red, -3px -3px 10px yellow;

  }
